@import '../index.scss';

.exec-list {
  min-height: 100%;

  .app {
    padding: 0!important;
    height: 40rem;
    display: flex;
    flex-direction: column!important;

    .app-title {
      display: flex;
      background-color: $primary;

      .left {
        padding: 1rem;
        font-size: 1.2rem;
        flex: 1;
      }
    }

    .app-content {
      flex: 1;
      display: flex;
      padding: 1rem;

      .app-input {
        flex: 1;

        textarea {
          height: 100%;
        }

        .cloud-icon {
          width: 4rem;
          height: 4rem;
          cursor: pointer;
        }

        .cloud-icon.is-primary {
          fill: $primary;
          color: $primary;
        }
      }

      .app-input-arrow,.app-output-arrow {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;

        .arrow-icon.is-primary {
          fill: $primary;
        }

        .arrow-icon.is-light {
          fill: $light;
        }
      }

      .app-option {
        flex: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .has-addons {
          .option-icon {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .option-icon.is-active {
            color: #fff;
          }
        }

        .dropdown-content {
          padding: 1rem;
        }
      }

      .app-output {
        flex: 1;

        textarea {
          height: 100%;
        }
      }
    }
  }

  .app-mobile {
    padding: 0!important;
    display: flex;
    flex-direction: column!important;

    .app-title {
      display: flex;
      background-color: $primary;

      .left {
        padding: 1rem;
        font-size: 1.2rem;
        flex: 1;
      }
    }

    .app-content {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .app-input {
        height: 15rem;
        width: 100%;

        textarea {
          height: 100%;
        }

        .cloud-icon {
          width: 3rem;
          height: 3rem;
          cursor: pointer;
        }

        .cloud-icon.is-primary {
          fill: $primary;
          color: $primary;
        }
      }

      .app-input-arrow,.app-output-arrow {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;

        .left {
          flex: 1;
          text-align: end;
        }

        .right {
          flex: 1;
        }

        .arrow-icon.is-primary {
          fill: $primary;
        }

        .arrow-icon.is-light {
          fill: $light;
        }
      }

      .app-option {
        width: 100%;
        display: flex;
        overflow-x: scroll;

        .addons-wrapper {
          margin-right: 1rem;
          flex-grow: 1;
          display: flex;
          justify-content: center;

          .option-icon {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .option-icon.is-active {
            color: #fff;
          }
        }
      }

      .app-output {
        height: 15rem;
        width: 100%;

        textarea {
          height: 100%;
        }
      }
    }
  }
}

.hero-body.is-hidden-desktop .exec-list {
  overflow-x: hidden;
}
