div.content-board {
  .app-icon {
    .media {
      overflow: hidden;

      .media-content {
        overflow: hidden;
      }
    }

    .name {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-word;
      line-height: 1.5rem;
      max-height: 1.5rem;
      height: 1.5rem;
    }
  }
}
