.navbar-board {
  padding: 0!important;
  flex: 0;
}

.main {
  min-height: 100%;
  position: relative;
}

.navbar {
  padding: 1rem 2rem;
  color: #fff;
}

.navbar-brand a {
  font-size: 2rem;
  color: inherit;
  text-decoration: none;
}

.navbar-brand a:hover {
  color: inherit;
}

div.search-board {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0 1rem!important;
  flex: 0;

  .input {
    margin-right: 1rem;
  }

  .button {
    color: #fff;
  }
}

.app-board {
  padding: 0 1rem!important;

  .app {
    .media {
      overflow: hidden;

      .media-content {
        overflow: hidden;
      }
    }

    .name {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-word;
      line-height: 1.5rem;
      max-height: 1.5rem;
      height: 1.5rem;
    }

    .desc {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.5rem;
      max-height: 3rem;
      height: 3rem;
    }
  }
}

.space {
  height: 11rem;
  width: 100%;
}

.my-footer {
  height: 7rem!important;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
