@import '../index.scss';

.app-board {
  .app {
    .media {
      overflow: hidden;

      .media-content {
        overflow: hidden;
      }
    }

    .name {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-word;
      line-height: 1.5rem;
      max-height: 1.5rem;
      height: 1.5rem;
    }

    .desc {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.5rem;
      max-height: 3rem;
      height: 3rem;
    }
  }
}
